@import url(./normalize.css);
/* CSS reset 해주기. */
*, *::after, *::before{
  box-sizing: border-box;
}
/*  */
html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  color: #000;
}
.a11y-hidden{
  overflow: hidden; position: absolute; clip: rect(0 0 0 0); /* IE 6,7 */ clip: rect(0,0,0,0); width: 1px; height: 1px; margin: -1px; border: 0; padding: 0;
}
header, .visual, main, article, footer{
  width: 940px;
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/* 헤더 */
header{
  background-color: skyblue;
  padding: 24px;
}
.logo{
  position: absolute;
  background-color: red;
  margin: 0;
}

.member{
  list-style: none;
  padding: 0;
  background-color: yellow;
  margin: 0;
  text-align: right;
  font-size: 0;
}
.member li{
  font-size: 0;
  display: inline-block;
  text-transform: uppercase;
}
.member li a{
  font-size: 14px;
  display: inline-block;
  padding: 10px 10px;
  color: #000;
  text-decoration: none;
}
.member li:nth-child(n+2)::before{
  content: ':';
  font-size: 14px;
}
/* 네비게이션 */
.menu{
  list-style: none;
  padding-left: 230px;
  background-color: blue;
}
.menu-item{
  border: 1px solid #aaa;
  background-color: orange;
  float: left;
}
.btn-menu{
  padding: 15px 18px;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 16px;
  color: white;
  font-weight: 700;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000; ;
}
.sub-menu{
  display: none;
}
/* 비주얼 */
.visual{
  background-color: yellow;
}

main{
  min-height: 450px;
  background-color: #aaa;
}

article{
  background-color: tomato;
}

.footer-bg{
  background-color: purple;
}
footer{
  background-color: blue;
}