/* @charset "utf-8" */
/* html과 같이 해줘야함. 이제는 자동으로 해줌 */
@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css); */
@import url(./fontello.css);

/* html안에 링크태그로 스타일css파일을 안가져오는 이유는 sass같은 프레임워크를 쓸때 압축하는데 그때
압축된 파일을 쪼개서 쓰므로 유지보수가 쉬움*/

/* 다른 css파일을 가져올수 있음. 세미콜론 필수! */
/* 항상 첫줄에 @사인을 해줘야함 */
/* at sign 기호 */
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  font-size: 1.4rem;
  color: #181818;
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll,#fff linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100%) ;
  /* 파라미터로 각도나 방향을 주면 그라디언트를 줄수 있다. 시작점이 0퍼센트 퍼센트로 중간중간 색갈을 바꿔준다.*/
  /* m5px m이 margin의 줄임말*/
}

/* 숨김 컨텐츠 */
.a11y-hidden, legend{
  position: absolute;
  /* absolute 를 하면 크기를 차지 하지않음 */
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  /* 마진 음수 공부해보기. */
  clip-path: polygon(0 0,0 0,0 0);
}
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}
.footer-bg{
  justify-self: unset;
}
/* 레이아웃 */
.container{
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

/* 해더 */
.header{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1px 30px;
  position: relative;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}

/* 로고 */
.logo{
  position: absolute;
  top: 25px;
  left: 60px;
}
/* 멤버링크 */
.member{
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  /* 음수값을 주면 어떻게되는지 */
  font-size: 0;
  /* list 사이에 공백박스가 생기므로 fontsize를 0으로 준다 */
  text-align: right;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
}
.member a{
  text-transform: uppercase;
  padding: 2px 8px 2px 3px;
}
/* 메인메뉴 */
.menu{
  background:rgba(219,124,35,1) linear-gradient(to bottom, rgba(242,197,48,1) 0%,rgba(219,124,35,1) 35%,rgba(211,99,33,1) 51%,rgba(219,124,35,1) 70%,rgba(242,197,48,1) 100%);
  /* gradient를 지원하지 않는 브라우저도 고려해서 만듬 앞에 linear앞에 붙여 넣어서 */
  padding-left: 0;
  list-style: none;
  margin: 0 0 35px 0;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/* menu에 높이 50값을 줘서 필요가없음. */
.menu-item{
  float: left;
  position: relative;
}
.btn-menu{
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  line-height: 48px;
  border-left: 2px solid rgba(255, 255, 255, 0.85);
  padding: 0 20px;
  cursor: pointer;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
  /* 텍스트의 그림자를 살짝준다 0값은 흐릿하게 만드는것 */
}
.menu-act .btn-menu{
  color: #ff0;
}
.menu-act .btn-menu::after{
  content: '';
  display: block;
  background-color: #000;
  height: 2px;
  /* 크기가 2px만큼 줄어줘서 border bottom 처럼줌 */
}
.sub-menu{
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
  margin-right: 1em;
}
.sub-menu a{
  padding: 8px 0;
}
.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;
}
.sub-menu a:hover::before, .sub-menu a:focus::before{
  content: '\e800';
  /* a태그에 마우스가 올라갔을때 체크로 바껴야하므로 */
  /* focus 까지 같이 줘서 포커스가 됬을떄도 체크 모양으로 바뀌게됨. */
}

.sub-menu1,.sub-menu2,.sub-menu3{
  left: 0;
}
.sub-menu4,.sub-menu5,.sub-menu6{
  right: 0;
}
.sub-menu1{
  display: block;
}
.sub-menu2{
  display: none;
}
.sub-menu3{
  display: none;
}
.sub-menu4{
  display: none;
}
.sub-menu5{
  display: none;
}
.sub-menu6{
  display: none;
}
/* span태그를 선택한게아니라 [] 으로 선택해서 함 */
/* 비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}

@keyframes bgAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.visual{
  height: 120px;
  position: relative;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.visual::before, .visual::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2s infinite ease-in-out alternate;
}

.visual::before{
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png) ;
  background-position: 0 -10px, 670px 0;
}

.visual::after{
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png) ;
  background-position: 300px 0, 800px 20px;
  animation-delay: 1s;
}

.visual-text{
  animation: textAni 500ms ease-in-out forwards;
  /* 끝난 상태로 나둔다. */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
  width: 500px;
}
/* 메인 콘텐츠 */
.main{
  min-height: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 30px;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 15px 15px 0 0 ;
  /* flex-flow로 같이 쓰는 습관을 가져야함 기본값으로 해주더라도 */
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.group{
  float: left;
}
.group1{
  /* background-color: pink; */
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background-color: #db5629;
  background-image: radial-gradient(circle at right top, #ef962f, #db5629);
  border-radius: 5px;
  box-shadow: 5px 10px 0 0 #ccc;
  padding: 10px;
  width: calc(100% - 5px);
  /* margin boxsizing:border-box에 영향이 없다 크기가 커져도 마진은 영향이 없다. boxsizing더 공부. */
}
.login-heading{
  margin-top: 0;
  margin-bottom: 10px;
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
  /* 고정형이면 px 단위 반응형이면 퍼센트 단위 */
}
.user-email{
  margin-bottom: 10px;
}
.login-form{
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 10px 0 10px;
}
.login-form div{
  margin-right: 5px;
  width: 150px;
}
.login-form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.login-form label{
  display: inline-block;
  width: 55px;
}
.login-form input{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 0.5em;
}
.btn-login{
  width: 52px;
  height: 58px;
  border-radius: 3px;
  border: 0;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #db5629;
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  right: 0;
}

.member-only{
  background-color: #fff;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.member-only li:first-child{
  float: left;
}

.member-only li:last-child{
  float: right;
}
.member-only a{
  padding-top: 5px;
  padding-bottom: 5px;
  /* 왜 안겹치지? a태그 자체가 인라인이여서 padding을 주면 클릭 가능 버튼 자체가 커진다.*/
}

.member-only a::before{
  content: '\e803';
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
  text-align: center;
  color: #ef962f;
}
/* 유효성 검사 배너 링크 */
.validation-list{
  padding: 0;
  margin-top: 25px;
  list-style: none;
  margin-bottom: 0;
}
.validation-list a{
  display: block;
  padding: 8px 10px 8px 45px;
  border:  1px solid #aaa;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #ccc;
  background-image: url(./images/validation_icon.png), linear-gradient(180deg, #aaa,#eee);
  background-repeat: no-repeat, repeat;
  background-position: 15px 50%, 0 0;
}

.validation-list a:hover{
  color: #f00;
}
/* .validation-list li{
  list-style: none;
}
.validation-list a::before{
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../css/images/validation_icon.png);
}
.validation-list li a{
  width: 250px;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  background-color: #aaa;
  border: 1px solid #aaa;
} */

/* .term{
  padding: 15px;
  background-image: linear-gradient(180deg, #aaa,#eee);
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.term-heading{
  font-size: 1.5rem;
  margin-top: 0;
}

.term-list{
  margin-bottom: 0;
  padding-left: 70px;
  position: relative;
}

.term-list-subject{
  margin-bottom: 1rem;
  color: #296897;
}
.term-list-thumnail{
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
}

.term-list-brief{
  margin: 0;
} */
/* 웹 관련 용어 */
.term{
  background-image: linear-gradient(180deg, #aaa,#eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}
.term-heading{
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list{
  margin-top: 10px;
  margin: 0;
}
.term-list > div{
  margin-top: 10px;
  /* 만약 div태그를 없애게 되었을떄도 .term-listdml margin-top부분이 없어져도 괜찮아짐. */
  /* .term-list 의 자식들중 div만 준다. */
}

.term-list-subject{
  width: 145px;
  float: right;
  margin-bottom: 5px;
  color: #296897;
}

.term-list-thumnail{
  margin-left: 0;
  font-size: 0;
  float: left;
}
.term-list-brief{
  margin-left: 0;
  float: right;
  width: 145px;
}

.even .term-list-subject,
.even .term-list-brief{
  float: left;
}

.even .term-list-thumnail{
  float: right;
}

/* Group2 */
.search-form{
  width: 380px;
  padding: 15px 25px 10px 25px;
  background:#ccc linear-gradient(180deg, #aaa,#eee);
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
}
.search-form fieldset{
  margin: 0;
  border: 0;
  padding: 0;
}
.search-form div[role='group']{
  display: flex;
  flex: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* fieldset에 flex주면 버그가 나서 안되므로 div[role='group']을 만들어서 처리했다.*/
.search-form fieldset label::before{
  content: '\e802';
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  margin-right: 0.2rem;
}
.search-form input[type='search']{
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
  border-radius: 5px;
  height: 24px;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.search-form label, .search-form input{
  white-space: nowrap;
}
/* 스타일은 id값을 잘 쓰지않는다. 그대신 속성선택자로 스타일 해준다 */

.btn-search{
  background-color: #222;
  color: #fff;
  border: 1px solid #aaa;
  font-size: 1.3rem;
  height: 24px;
  border-radius: 3px;
  padding: 0 10px;
}
/* Group2 공지사항 및 자료실 */
.board{
  background-color: orange;
  position: relative;
}
.notice-heading{
  width: 70px;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 8px 5px;
  margin: 0;
  text-align: center;
  border: 1px solid #f00;
  border-radius: 5px 5px 0 0;
  color: red;
  border-bottom: 0;
}
.notice-list{
  background-color: blue;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.notice-list li:not(:last-child){
  margin-bottom: 16px;
}
.notice-list li>time{
  float: right;
}
.notice-list li>a::before{
  content: '\f192';
  font-family: 'fontello';
  font-weight: normal;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
.notice-more{
  background-color: purple;
  position: absolute;
  top: 0;
  right: 0;
}


.pds{
  display: none;
}
/* 슬로건 */
.slogan{
  background-color: orange;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.footer-bg{
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.footer{
  background-color: skyblue;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}

/* flow-direction 을 row 방식으로 하는것을 강사님이 추천함
좀더 유연하게함 */