/* @charset "utf-8" */
/* html과 같이 해줘야함. 이제는 자동으로 해줌 */
@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* html안에 링크태그로 스타일css파일을 안가져오는 이유는 sass같은 프레임워크를 쓸때 압축하는데 그때
압축된 파일을 쪼개서 쓰므로 유지보수가 쉬움*/

/* 다른 css파일을 가져올수 있음. 세미콜론 필수! */
/* 항상 첫줄에 @사인을 해줘야함 */
/* at sign 기호 */
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: #181818; 
  background-color: #fff;
  /* m5px m이 margin의 줄임말*/
}

/* 레이아웃 */
.container{
  background-color: #fff;
}


.header{
  background-color: yellow;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.visual{
  background-color: lime;
  height: 120px;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
/* 메인 콘텐츠 */
.main{
  background-color: blue;
  padding: 0 15px;
  /* overflow: hidden; */
  min-height: 450px;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.clearfix::after{
  /* 계속 .main으로 하면 중복되서 만들어 지므로
  처음부터 .clearfix을 하고 원하는 float 태그에 클래스를 넣어주면 됨. */
  content: "";
  /* 컨텐츠가 있어야 태그자체가 생성됨.
  없으면 아예 생성이안됨 */
  /* css로 만든가짜요소 */
  clear: both;
  display: block;
}

.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
.group{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.group1{
  background-color: pink;
  width: 250px;
}

.group2{
  background-color: lightgreen;
  width: 380px;
}
.group3{
  background-color: coral;
  width: 190px;
}
.slogan{
  background-color: orange;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.footer-bg{
  background-color: purple;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}
.footer{
  background-color: skyblue;
  /* 색깔을 직접적으로 넣으면 나중에 지우는 임시적이라는 뜻 */
}